<head>
    <div>
        <div>
        <div>
            <h2 href="/">
            {{title}}          
            </h2>           
        </div>
        </div>
    </div>
</head>
</br>
</br>
<div>
    <div>
        <div >
            <div >
                <div style="background-color:tomato">
                    Add a new Money token
                </div>
                </br>
                
                <div>
                <div id="collapseQueryAdd">
                    <form id="moneyForm">
                        <div>
                            <div>
                            <a>Money ID</a>
                            <label for="moneyID"></label>
                            <input type="text" id="moneyID" aria-describedby="moneyID" placeholder="0001">
                            </div>
                        </div>
                        <div>
                            <div>
                            <a>Money Token value</a>
                            <label for="value"></label>
                            <input type="text" id="value" aria-describedby="value" placeholder="500">
                            </div>
                        </div>     
                        </br>
                        </br>
                        <div>
                            <div>
                            <a>Provide username for submitting transaction</a>
                            <label for="userName"></label>
                            <input type="text" id="userName" aria-describedby="userName" placeholder="admin/appUser">
                            </div>
                        </div> 
                        <div>
                            <div>
                                <button type="button" onclick="FundWriteData(event)">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
                </div>

            </div>
        </div>
    </div>
</div>

</br>
</br>
</br>

<script type="text/javascript" src='/javascripts/main.js'></script>
